<header class="navbar navbar-fixed-top" id='header'>
  <nav class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('WebLogo.png', id: 'white-logo'), '#', class: 'logo' %>
      <ul>
          <li>
              <%= link_to(image_tag('icons/CreateFolioButton.png'), new_album_path) %>
              <%= link_to 'CREATE A FOLIO', new_album_path %>
          </li>
          <li>
              <%= image_tag('icons/FindFolioButton.png') %>
              FIND A FOLIO
          </li>
          <li>
              <%= image_tag('icons/FindMemberButton.png') %>
              FIND A MEMBER
          </li>
          <li>
              <%= image_tag('icons/FindMemberButton.png') %>
              HOW IT WORKS
          </li>  
      </ul>
    </div>
  </nav>
</header>