<ul>
    <li class="active"><%= link_to 'My Profile', "#" %></li>
    <li><%= link_to "My Folios", '#' %></li>
    <li><%= link_to "Members I Follow", '#' %></li>
    <li><%= link_to "Folios I Follow", '#' %></li>
    <li><%= link_to "Photos I Follow", '#' %></li>
    <li><%= link_to "Photos I Like", '#' %></li>
</ul>