<!DOCTYPE html>
<html>
<head>
  <title>Folioshine | Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="home-page">
    <div class="main" role="main">
        <div class="folio-shine">
            <%= link_to image_tag('FolioShineLogo2.png', id: 'folio-logo'), root_path %>
        </div>
        <div class="container">
            <div class="row" id="header-buttons">
                <div class="span12">
                    
                    <div class="button-container">
                        <p class="btn btn-primary btn-large first" id="sign-up"><%= link_to 'Sign up!', signup_path %></p>
                        <p class="btn btn-success btn-large" id="login"><%= link_to 'Log in', signup_path %></p> 
                    </div>
                </div>
                <div class="span4 offset8">
                    <%= image_tag('samsungg3.png', id: 'samsung') %>
                </div>
            </div>
            <%= yield %>
        </div><!-- end of container -->
    </div><!-- end of main -->
</body>
</html>