<div class="row">
 <div class="span9" id="folio-form">
    <div class="row">
        <div class="span4">
            <div class="row">
                <fieldset>
                    <%= form_tag folios_path do %>
                    <%# **********start check availability ********** %>
                    <div class="span4" id="name-available">
                        <div id="choose-name-div">
                            <h3 id="choose-name">Choose a Folio name</h3>
                            <%= text_field_tag "keyword" %>
                        </div><!-- end of choose-name-div -->

                        <div id="check-avail-button-div">
                            <button id="check-availability" 
                                class="btn btn-primary"
                                data-loading-text="Checking..."
                                data-complete-text="Complete!"
                                data-url="<%= check_availability_folios_path %>">
                                CHECK AVAILABILITY
                            </button>
                        </div><!-- end of check-avail-button-div -->
                        <div id="check-availability-div">
                            <div id='keyword-message'></div><!--end message-->
                        </div><!-- end of check-availability-div -->
                    </div><!-- end of span4 name-available -->
                    <%# ######## end check availability ####### %>
                    
                    <%# ********** start radio buttons ****************** %>
                    
                    <div class="span4" id="radio-buttons">
                        <div id="choose-folio-div">
                             <h3 id="choose-folio">Choose a Folio Package</h3>
                        </div><!-- end of choose-folio-->
                        <h5>(Number of photos texted to folio)</h5>
                        <ul id="package-radios">
                            <% @packages.each do |package| %>
                                <li>
                                    <div>
                                        <%= radio_button(
                                            "package", 
                                            "id", 
                                            package.id,
                                            checked: package.id == 3 ? "checked": "" 
                                            ) 
                                        %>
                                        <%= label_tag "#{package.name} - 
                                                        #{package.price} - 
                                                        #{package.photo_qty} 
                                                        Photos" 
                                        %>
                                    </div>
                                </li>
                            <% end %>
                        </ul><!-- end of ul-->
                        <div class='clearfix' id="hiddens">
                            <%= hidden_field_tag :stripe_token %>
                            <%= hidden_field_tag :last_4_digits %>
                        </div><!-- end of clearfix hiddens -->
                    </div><!-- end of span4 radio-buttons-->
                    <%# ########## end radio buttons #################### %>
                    
                    <%# ******** start stripe form ********************** %>
                    <div class="span4" id="stripe-form">
                        <div id="credit-card" style="display:block">
                              <div id="credit-card-errors" style="display:none">
                                <div id="stripe-error-message" 
                                    class="alert-message block-message error"
                                >
                                </div><!-- end of stripe-error-message-->
                              </div><!-- end of credit-card-errors -->

                              <div class="clearfix">
                                  <%= label_tag "name_on_card", "Name on card" %>
                                  <div class="input">
                                     <%= text_field_tag :name %> 
                                  </div><!-- end of input-->  
                              </div><!-- end of clearfix-->

                              <noscript>
                                  <p>This from requires Javascript to use</p>
                              </noscript>

                              <!-- these fields are disabled before submission  -->
                              <!-- and are never transmitted back to rails -->
                              <div class="clearfix">
                                <%= label_tag :credit_card_number %>
                                <div class="input">
                                  <%= text_field_tag :credit_card_number, 
                                    params[:credit_card_number], 
                                    :class => "field", 
                                    :disabled => true 
                                  %>
                                </div><!-- end of input -->
                              </div><!-- end of clearfix -->

                              <div class="clearfix">
                                <%= label_tag :cvv, "Security code (CVV)" %>
                                <div class="input">
                                  <%= text_field_tag :cvv, 
                                    params[:cvv], 
                                    :class => "small", 
                                    :disabled => true 
                                  %>
                                </div><!-- end of input-->
                              </div><!-- end of clearfix-->

                              <div class="clearfix">
                                <%= label_tag :expiry_date, "Expiration Date" %>
                                <div class="input">
                                  <%= date_select "", :expiry_date, 
                                    { 
                                        :discard_day => true, 
                                        :order => [:month, :year], 
                                        :use_month_numbers => true, 
                                        :start_year => Date.today.year, 
                                        :end_year => Date.today.year + 25, 
                                        :disabled => true
                                    }, 
                                    {:class => "small"} 
                                  %>
                                </div><!-- end of input-->
                                <!-- empty -->
                              </div><!-- end of clearfix -->

                              <span class="note">
                                Your credit card details will be sent directly 
                                to our payment processor
                              </span>

                              <div class="actions">
                                  <%= submit_tag "Purchase", 
                                      class: 'btn btn-primary',
                                      id: 'user_submit'
                                  %>
                              </div><!-- end of actions-->
                        </div><!-- end of credit-card -->
                    </div><!-- end of span4 stripe-form -->
                    <%# ######### end stripe form ####################### %>
                    <% end %>
                </fieldset>
            </div><!-- end of row-->
        </div><!-- end of span4-->
        <%= render 'sidebar' %>
    </div><!-- end of row--> 
 </div><!-- end of folio-form-->
</div><!-- end of main row-->








